@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .names {
    animation: Name-Enter 1 2s linear;
    text-align: left;
    letter-spacing: 5px;
  }
  .lastNames {
    animation: Last-Name-Enter 1 2s linear;
    text-align: left;
    letter-spacing: 5px;
  }
}

.Name-Header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left !important;
  line-height: 0 !important;
}

.Form-Style{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

.Form-Input{
  background-color: #0e0e0e;
    min-width: 400px;
    margin: 10px auto;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.Form-Submit{
  background-color: rgb(198, 15, 15);
    border: none;
    min-width: 400px;
    height: 40px;
    margin: 10px 0 30px 0;
    color: white;
    border-radius: 8px;
    box-shadow: 0 10px 15px #00000070;
}

.Menu-Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.Light-Section{
  background-color: #383838;
  padding: 100px;
}

.hor-flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.Dark-Section{
  background-color: #242424;
  width: 100%;
}

a{
  color: #c60f0f;
}

.Project-Row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.Menu-Text{
  font-weight: 300;
  font-size: 25px;
  margin: auto;
  min-width: 150px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes Name-Enter {
  from {
    letter-spacing: -10px;
  }
  to {
    letter-spacing: 5px;
  }
}

@keyframes Last-Name-Enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}